a {
    color: #0081e0;
    transition: color 0.35s ease;
}

a:hover {
    color: #FF5823;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

input::placeholder {
    font-size: 0.8em;
}

.showPassword {
    font-size: 0.8em;
}

.mentorsImage {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    display: block;
    background-color: #272729;
}

.mentorsImage .img {
    width: 100%;
    -webkit-transform: rotateZ(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    transform: rotateZ(0) scale(1);
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease;
    -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease, opacity 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease, -webkit-transform 0.35s ease;
    padding-bottom: 56.4%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mentorsImage:hover .img {
    opacity: .3;
    -webkit-transform: rotateZ(-3deg) scale(1.2);
    -ms-transform: rotate(-3deg) scale(1.2);
    transform: rotateZ(-3deg) scale(1.2);
}

.cardForm {
    padding: 10px;
}

.privacy {
    padding: 20px 0 30px;
    font-size: 12px;
    color: #c4c4c4;
    line-height: 1.375em;
}

.cardForm button.btn {
    margin: 0 3px 7px 0;
}

.dayConsult {
    display: block;
    vertical-align: middle;
    font-weight: 500;
    margin: 7px 0;
}

.dayTimeConsult:first-letter, .dayConsult:first-letter {
    text-transform: uppercase;
}

.consultTime {
    text-align: center;
    font-weight: 700;
    background: #f9f9f9;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0;
    width: 90px;
}

.content-text-center {
    padding: 1.5rem;
    position: relative;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    box-sizing: border-box;
}

.mainContent {
    margin: auto;
}

.hiddenLabel {
    display: none;
}

td > i:before {
    font-size: 20px;
}

.isMentor:before {
    color: #FF5823;
}

th > i:before {
    font-size: 18px;
}

input.btn-del, input.btn-edit {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
}

.trash, .edit {
    position: relative;
    display: inline-block;
}

.edit:before {
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    content: "\f044";
    transition: color 0.35s ease;
    left: 5px;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}

.trash:before {
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    content: "\f2ed";
    transition: color 0.35s ease;
    left: 5px;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}

.trash:hover:before, .edit:hover:before {
    font-weight: 700;
    color: #FF5823;
}

.add-user:before {
    font-family: 'Font Awesome 5 Pro';
    position: relative;
    left: 20px;
    content: "\f234";
    font-size: 35px;
    transition: color 0.35s ease;
    color: #198632;
}

.add-user:hover:before {
    font-weight: 700;
    color: #FF5823;
}

span.edit-text {
    margin-left: 30px;
}

.text-center a {
    text-decoration: none;
}

.add-edit-user {
    right: 0;
    padding: 0 35px 0 0;
    position: absolute;
    top: 10px;
}

.table {
    text-align: center;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

.table-wrapper {
    margin: 0 10px;
}

.table th, .table td {
    vertical-align: middle;
}

.textSchedule p {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
}

.avatar {
    width: 35px;
    height: 35px;
}

.avatarView {
    margin: auto;
}

.user-avatar {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 100%;
    height: 0;
    width: 100%;
    display: block;
    border-radius: 5%;
}

.user-avatar .img {
    width: 100%;
    -webkit-transform: rotateZ(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    transform: rotateZ(0) scale(1);
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease;
    -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease, opacity 0.35s ease;
    transition: transform 0.35s ease, opacity 0.35s ease, -webkit-transform 0.35s ease;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header {
    text-align: center;
    padding: 0 0 10px;
}

.col-form-label {
    font-size: 0.9rem;
    padding-top: 0;
    margin: auto;
}

.card-text {
    font-size: 0.91rem;
    margin-bottom: 0.9rem;
}

.card-text .mentorSchedules {
    margin-bottom: 0.15rem;
}

.slotsUlBlock {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.slotsUlBlock li {
    float: left;
    width: 5rem;
    height: 2.4rem;
    position: relative;
    margin: .27rem;
}

.slotsUlBlock label, .slotsUlBlock input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.slotsUlBlock input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    display: none;
}

.slotsUlBlock input[type="radio"]:checked + label {
    color: #fff;
    background-color: #121738;
    border-color: #121738;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.slotsUlBlock label {
    cursor: pointer;
    z-index: 90;
    margin-bottom: .25rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #6c757d;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #6c757d;
}

.slotsUlBlock label:hover {
    background: #DDD;
}

.slotIsBusy {
    color: #fff;
    background-color: #6c757d;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
    border: 1px solid #6c757d;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    border-radius: .25rem;
    z-index: 90;
    margin-bottom: .25rem;
    text-align: center;
}

.slotIsBusyStudent:before {
    color: #adb5bd;
    padding: .65rem;
    position: absolute;
    right: -.4rem;
    top: -1.15rem;
    font-family: 'Font Awesome 5 Pro';
    content: "\f02e";
    font-size: 1rem;
    font-weight: 500;
}

.leftWarning {
    float: left;
    width: 10%;
    text-align: center;
    font-size: 3rem;
}

.rightWarning {
    display: inline-block;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 700;
}

.accordion{
    margin: 1rem 0;
}

.accordion .btn:focus{
    box-shadow: none;
}

.accordion .card-body{
    padding: 0 0 .5rem;
}